<div class="searchform">
    <app-user-searchform></app-user-searchform>
</div>
<hr>
<div *ngIf='user.login' class="results">
    <div class="card mb-4">
        <div class="card-body" (click)='toggleDetails()'>
            <h5 class="card-title text-primary">{{ user.login }}</h5>
            <div *ngIf='user.showDescription'>
                <span>
                    <p>Repositories : {{ user.repos }}</p>
                    <p class="text-muted lefted">User's name is {{ user.name }}</p>
                </span>
            </div>
            <br>
            <a href="{{ user.url }}" class="btn btn-outline-primary lefted mt-2">See user account</a>
        </div>
    </div>
    <p class="text-center text-primary font-weight-lighter" *ngIf='user.login'>Click on card for more details</p>
</div>